# Comprehensions

List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line for loop built inside of brackets.

In [7]:
l = []

for letter in 'word':
    l.append(letter)
print l

['w', 'o', 'r', 'd']

In [8]:
#Example 1

lst = [x for x in 'word']

In [9]:
lst

['w', 'o', 'r', 'd']

This is the basic idea of a list comprehension. If you're familiar with mathematical notation this format should feel familiar for example: x^2 : x in { 0,1,2...10}

In [10]:
#Example 2
#start the things you want then using 'for'

lst2 = [x**2 for x in range(11)]

In [11]:
lst2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
#Example 3 using 'if'

lst3 = [num for num in range(11) if num % 2 == 0]

In [13]:
lst3

[0, 2, 4, 6, 8, 10]

In [17]:
lst3_2 = []

for num in range(11):
    if num % 2 == 0:
        lst3_2.append(num)
print lst3_2

[0, 2, 4, 6, 8, 10]

In [18]:
#Example 4
# Convert Celsius to Fahrenheit

c = [0, 10, 20.1, 34.5]

f = [(tmp * (9 / 5.0) + 32) for tmp in c]

In [20]:
f

[32.0, 50.0, 68.18, 94.1]

In [21]:
#Example 5
#nested list comprehensions


lst5 = [x**2 for x in [x**2 for x in range(11)]]

In [22]:
lst5  #final result is x**4 for x in range(11)

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]